<?xml version="1.0"?>
<launch>
  <!--  Hardware interfaces for the joints and grippers -->
  <arg name="arms_hardware_interface" default="PositionJointInterface"/>
  <arg name="grippers_hardware_interface" default="EffortJointInterface"/>
  <!-- URDF / SRDF parameters -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi.urdf.xacro' arms_interface:=$(arg arms_hardware_interface) grippers_interface:=$(arg grippers_hardware_interface)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <!-- Show robot in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/yumi.rviz"/>
  <node name="robot_to_cam" pkg="tf" type="static_transform_publisher" args="0.35210628201698474 -0.044453848628362193 0.54533874056479005 0.70327843030982384 0.71086786683303138 0.0020471788107930249 0.0078825391925893031 yumi_body camera_color_optical_frame 100" />
</launch>
